In [1]:
import pandas as pd

In [5]:
# run nodejs script first
url = "http://localhost:3000"

print(url)

http://localhost:3000

In [3]:
df = pd.read_json(url)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LOAN      25 non-null     int64
 1   INTEREST  25 non-null     float64
 2   TERM      25 non-null     int64
 3   MONTHLY   25 non-null     float64
 4   STATUS    25 non-null     object
 5   DATE      25 non-null     datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(1)
memory usage: 1.3+ KB

In [4]:
df.head()

    LOAN  INTEREST  TERM  MONTHLY STATUS                             DATE
0  25000       4.7    24  1093.43   high 2020-10-16 12:39:52.419000+00:00
1  25000       4.7    36   745.91   high 2020-10-16 12:39:52.419000+00:00
2  25000       4.7    48   572.34     ok 2020-10-16 12:39:52.419000+00:00
3  25000       4.7    60   468.35    low 2020-10-16 12:39:52.419000+00:00
4  25000       4.7    72   399.15    low 2020-10-16 12:39:52.419000+00:00